// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2b5876; /* لون أزرق احترافي */
  --ion-color-primary-rgb: 43, 88, 118;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #264e68;
  --ion-color-primary-tint: #406984;
  
  --ion-background-color: #f8f9fa; /* لون خلفية التطبيق هادي */
}
